<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">
      <!-- Logo Image -->
      <img src="../assets/images/logo-udes.png" width="90" alt=""
        class="d-inline-block align-middle mr-2">
        <span class="font-weight-light">Generador de Recibos</span>      
    </a>
    <!--<a href="#" class="navbar-brand">Recibos Udes</a>-->
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="concepts" class="nav-link">Conceptos</a>
      </li>
      <li class="nav-item">
        <a routerLink="receipts" class="nav-link">Recibos</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>