<div class="submit-form">
  <div *ngIf="createdConcepts">
    <div *ngIf="!submitted">
      <h4>
        <small class="text-center font-weight-normal text-info">Agregar Recibo</small>
      </h4>
      <br>
      <form [formGroup]="addReceiptForm" novalidate>
        <div class="form-group">
          <label for="title">T&iacute;tulo</label>
          <input type="text" class="form-control" id="title" [(ngModel)]="receipt.title" name="title" required
            formControlName="title" />
          <div *ngIf="addReceiptForm.controls['title'].invalid && addReceiptForm.controls['title'].dirty"
            class="alert alert-danger">
            <div *ngIf="addReceiptForm.controls['title'].errors.required">
              Campo obligatorio.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Descripci&oacute;n</label>
          <input type="text" class="form-control" id="description" [(ngModel)]="receipt.description" name="description"
            formControlName="description" />
          <div *ngIf="addReceiptForm.controls['description'].invalid && addReceiptForm.controls['description'].dirty"
            class="alert alert-danger">
            <div *ngIf="addReceiptForm.controls['description'].errors.required">
              Campo obligatorio.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Concept</label>
          <select class="form-control" id="concept" [(ngModel)]="receipt.concept" name="concept"
            (change)="changePrice()" formControlName="concept">
            <option [ngValue]="null" disabled>Seleccione un concepto </option>
            <option [value]="concept.id" *ngFor="let concept of concepts; let i = index">
              {{ concept.id + " - " + concept.name }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="description">Valor del concepto actual o seleccionado</label>
          <input type="text" disabled class="form-control" id="value" [ngModel]="currentPrice | currency" name="value"
            formControlName="value" />
        </div>
        <div class="form-group">
          <label for="rate">Tasa Representativa del Mercado (TRM)</label>
          <input type="text" disabled class="form-control" id="rate" required [(ngModel)]="currentTRM" name="rate"
            formControlName="rate" />
        </div>

        <button type="submit" [disabled]="addReceiptForm.pristine || addReceiptForm.invalid" (click)="saveReceipt()"
          class="btn btn-success">Submit</button>

      </form>
    </div>
  </div>
  <div *ngIf="submitted">
    <h4>You submitted successfully!</h4>
    <button class="btn btn-success" (click)="newReceipt()">Add</button>
  </div>
  <div *ngIf="!createdConcepts">
    <p>
      <ngb-alert type="danger" *ngIf="!closed" (close)="closed=true">
        No se han creado conceptos. Por favor cree uno para poder crear un Recibo.
      </ngb-alert>
    </p>
  </div>
</div>