<div *ngIf="currentReceipt" class="edit-form">
    <h4>Recibo</h4>
    <form>
      <div class="form-group">
        <label for="title">T&iacute;tulo</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentReceipt.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Descripci&oacute;n</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentReceipt.description"
          name="description"
        />
      </div>
  
      <div class="form-group">
        <label for="description">Concept</label>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let receipt of receipts; let i = index" [class.active]="i == currentIndex"
            (click)="setActiveReceipt(receipt, i)">
            {{ receipt.id + " - " + receipt.title }}
          </li>
        </ul>
      </div>
    </form>
  
    <button class="badge badge-danger mr-2" (click)="deleteReceipt()">
      Delete
    </button>
  
    <button type="submit" class="badge badge-success" (click)="updateReceipt()">
      Update
    </button>
    <p>{{ message }}</p>
  </div>
  
  <div *ngIf="!currentReceipt">
    <br />
    <p>Cannot access this Receipt...</p>
  </div>